<%- include('partials/header') %>

<head>
  <link rel="stylesheet" href="/blog.css">
</head>

<div>
  


    <div class="container p-5">
      <div class="row">
        <% for(let i in Interview){ %>
          <% if (Interview[i].type=="Interview") {%>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">



          <div class="card">
            <img class="card-img" src="https://www.emergingedtech.com/wp/wp-content/uploads/2018/04/blogging.jpg"
              alt="Bologna">
            <div class="card-img-overlay">
              <a href="#" class="btn btn-light btn-sm"><%= Interview[i].type %></a>
            </div>


            <div class="card-body">
              <h4 class="card-title"><%= Interview[i].title %></h4>
              <small class="text-muted cat">
                <i class="far fa-clock text-info"></i> 30 minutes
              </small>
              <p class="card-text"><%= Interview[i].content %></p>
              
              <a href="#" class="btn btn-info">Read More</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
              <div class="views">Apr 1, 12:45PM
              </div>
              <div class="stats">
                <i class="fa-solid fa-heart"></i> 30
                <i class="fa-solid fa-heart-crack"></i> 12
              </div>

            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>

    </div>
  </div>

  <%- include('partials/footer') %>
  </body>

  </html>